.inner-div {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.5rem;
}

.generate {
  position: relative;
  width: 40%;
  left: 30%;
  border: none;
  outline: 0;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  background-color: rgb(161, 10, 242) !important;
  color: rgb(255, 255, 255);
  padding: 0.25rem 0rem !important;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 1.5rem !important;
}
.generate:hover {
  background-color: rgb(183, 64, 246);
}

.output {
  position: relative;
  text-align: center;
  /* background-color: black; */
  width: 100%;
  height: 2rem;
  /* padding: 1rem 0rem !important; */
  font-size: 1.2rem;
}

.log-box {
  position: relative;
  width: 75%;
  left: 12.5%;
  height: 7rem;
  top: 1.5rem;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  list-style-type: none;
  /* background-color: black; */
}

.log-box li {
  list-style-type: none;
}

.delete-list {
  color: gray;
  font-size: 1.75rem;
  position: relative;
  top: 5.1rem !important;
}

.delete-list:hover {
  color: white;
  cursor: pointer;
}
