.main-div {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: black !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  background: linear-gradient(rgb(0, 0, 0), rgb(29, 28, 28)) !important;
}

* {
  list-style-type: none;
  background-color: transparent !important;
}

.logo {
  font-size: 1.75rem;
  position: absolute;
  left: 1rem;
  font-family: "Press Start 2P", sans-serif;
  color: rgb(125, 125, 225);
  top: -0.5rem;
  background-color: black;
  padding-top: 1rem !important;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.logo:hover {
  color: white !important;
}

.terms-box {
  position: relative;
  width: 50%;
  height: 40rem;
  top: 4rem;
  /* background: linear-gradient(rgb(0, 0, 0), rgb(29, 28, 28)) !important; */
  /* border: 1px solid white; */
  margin-bottom: 5rem !important;
  font-family: "Open Sans";
}

.par {
  font-family: "Open Sans";
  font-size: 2rem;
}

.home {
  position: relative;
  margin-top: 1rem !important;
  font-size: 2rem;
  color: gray;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.home:hover {
  margin-top: 1rem !important;
  font-size: 2rem;
  color: white;
}

.terms-box p,
h1,
span,
h3,
strong,
a,
li,
ul {
  background-color: transparent !important;
}

@media only screen and (max-width: 1180px) {
  .par {
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 1000px) {
  .par {
    font-size: 2.75vw;
  }
}

@media only screen and (max-width: 750px) {
  .terms-box {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .par {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 500px) {
  .logo {
    font-size: 1.35rem;
  }
}

@media only screen and (max-width: 400px) {
  .logo {
    font-size: 1.1rem;
  }
}
