.list {
  color: white;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 3rem;
  width: 100%;
  transition: all 0.2s ease-in-out;
  position: relative;
  bottom: 0;
}

.list li:hover {
  cursor: pointer;
  color: rgb(125, 125, 225);
}

.item {
  color: white;
  transition: all 0.2s ease-in-out;
}

.item:hover {
  cursor: pointer;
  color: rgb(125, 125, 225);
}

@media only screen and (max-width: 360px) {
  .list {
    gap: 0.75rem;
  }
  .item {
    font-size: 0.9rem;
  }
}
