.main-modal {
  position: relative;
  width: 25rem;
  height: 25rem;
  border: 2px solid rgb(5, 5, 204);
  box-shadow: 0px 0px 12px rgb(125, 125, 225);
  color: white;
  border-radius: 1rem;
  padding: 0.5rem !important;
}

.main-modal:hover {
  box-shadow: 0px 0px 10px rgb(125, 125, 225);
}

@media only screen and (max-width: 1000px) {
  .main-modal {
    width: 25rem;
  }
}

@media only screen and (max-width: 600px) {
  .main-modal {
    width: 20rem;
  }
}

@media only screen and (max-width: 500px) {
  .main-modal {
    left: 10%;
  }
}

@media only screen and (max-width: 450px) {
  .main-modal {
    left: 0%;
  }
}

@media only screen and (max-width: 360px) {
  .main-modal {
    width: 17rem;
  }
}
